extends layout


block content
  head
    title BEGO - Edit Profile
    // Header section
  header
    a(href='Homelogin')
      img#logo(src='/logo/2.png', alt='Bego Logo')
    nav
      a.normalbtn(style='width:70px', onclick='openNav()') ☰ 
  // Edit section
  .edit
    h1 Edit Task
    hr
    // Edit Name
    .edit-list
      a.edit-icon(onclick="document.getElementById('edit-name').style.display='block'")
        img(src='/edit.jpg', alt='Edit icon')
      p
        b
          span(style='font-size:larger') Task Description
        br
        span(style='opacity:0.5')
          small #{taskdata.name}
      p
        b
          span(style='font-size:larger') Task Leader
        br
        span(style='opacity:0.5')
          small #{taskdata.member}
      p
        b
          span(style='font-size:larger') Rank
        br
        span(style='opacity:0.5')
          small #{taskdata.rank}
      p
        b
          span(style='font-size:larger') Deadline
        br
        span(style='opacity:0.5')
          small #{taskdata.deadline}
      // Edit Task Form
      #edit-name.modal
        span.close(onclick="document.getElementById('edit-name').style.display='none'", title='Close Modal') ×
        form.modal-content.animate(action=('/EditTask/'+projdetail._id+'/'+taskdata._id), method='post', onsubmit='return todaydate(0)')
          .container
            h1 Edit Task
            hr
            label
              b Task Description
            input(type='text', value= taskdata.name , name='newtask', required='')
            label
              b Task Leader
            div
              select(style='outline:none', name='newleader', required='')
                option(value='', selected='', disabled='') Select Task Leader
                each mate in memberlist
                  option #{mate.name}
            br
            label
              b Rank
            div
              select(style='outline:none', name='newrank', required='')
                option(value='', selected='', disabled='') Task Rank
                option(value='1') 1 ★
                option(value='2') 2 ★
                option(value='3') 3 ★
                option(value='4') 4 ★
                option(value='5') 5 ★
            br
            label
              b Deadline
              br
            input#mydate(type='date', value= taskdata.deadline, name='newdeadline', min='2018-01-01', data-date-inline-picker='true', style='margin-bottom:40px;margin-top:5px', title='Format must be YYYY-MM-DD', required='')
            .clearfix
              button.cancelbtn(type='button', onclick="document.getElementById('edit-name').style.display='none'") Cancel
              button.signupbtn(type='submit') Update
    // Footer area
    footer
      p Copyright 2018 Bego. All Rights Reserved. Last updated: 31 May 2018
