extends layout


block content
  head
    title BEGO - Find Projects
    // Header section
  header
    a(href='Homelogin')
      img#logo(src='logo/2.png', alt='Bego Logo')
    nav
      a.normalbtn(style='width:70px', onclick='openNav()') ☰ 
  // Project list table
  .project-list
    h1 Find your new adventure
    p
      | This is a list of projects that might interest you. We have come up with several projects using
      | our matchmaking method to find you new projects to conquer!
    hr
    // Search Project menu
    input#search1(type='text', onkeyup='searchmenu(1)', style='border:1px solid seagreen;background-color:white;', placeholder=' Search Project...', title='Type in Project Name')
    table#findproject.list-table
      tr
        th Project Name
        th Project Field
        th Location
        th Description
        th Start Date
        th Action
      each project in newprojects
        tr
          td #{project.name}
          td #{project.field}
          td #{project.location}
          td #{project.description}
          td #{project.startdate}
          td
            a.join(href= '/Joinproject/'+project._id) Join
  
  // Footer area
  footer
    p Copyright 2018 Bego. All Rights Reserved. Last updated: 31 May 2018
